/* regole di reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*layot*/
.container{
    width: 1000px;
}

.row-nav{
    margin: auto;
    display: flex;
    flex-direction:row;
    width: 60%;
    justify-content: center;
        
    
}

.column{
    
    min-width: 10%;
}

.grow{
    flex-grow: 1;
}


/*debug*/
.debug .container{
    background-color: blue;
    padding: 5px;
    margin: auto;
}

.debug .row{
    padding: 10px;
    border: 2px solid green ;

}

.debug .column{
    padding: 10px;
    border: 2px solid yellow;
    text-align: center;
    color: white;
}