/* regole di reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*layot*/
.container{
    width: 1000px;
}

.row{
    margin: auto;
    display: flex;
    flex-direction:row;
    width: 60%;
    justify-content: center;
    
}



.column-nav{
    
    min-width: 10%;
}

.column-main{
    height: 100px;
    width: 200px;
}

.grow{
    flex-grow: 1;
}


/*debug*/
.debug .container{
    border: 2px solid black;
    padding: 5px;
    margin: auto;
}

.debug .row{
    
    border: 2px solid green ;

}

.debug .column-nav{
    padding: 10px;
    border: 2px solid yellow;
    text-align: center;
    color: white;
}

.debug .column-main{

}

.debug .bg-acqua{
    background-color:aquamarine;
}

.debug .bg-blue{
    background-color: blue;
}

.debug .bg-orange{
    background-color: orange;
}

.debug .bg-magenta{
    background-color: magenta;
}